{% extends "oauth2_provider/base.html" %}
{% load widget_tweaks %}

{% block content %}
<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8  col-sm-8 col-sm-offset-2">
<div id="signupbox" style="margin-top:50px" class="mainbox col-md-8  col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Novo Cadastro</div>
			<div style="float:right; font-size: 85%; position: relative;
				top:-10px"><a id="signinlink" href="{% url 'login'%}">Login</a></div>
		</div>
		<div class="panel-body" >
			<form id="signupform" action="{% url 'oauth:register' %}" method="POST" class="form-horizontal" role="form">
				{% csrf_token %}

				{% if form.name.errors %}
					<div style="margin: 15px 0;" class="form-group has-error">
						{% render_field form.name placeholder="Nome Completo" class="form-control" %}
						{% for error in form.name.errors %}
						<span id="helpBlock2" class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					<div style="margin: 15px 0;"class="form-group">
						{% render_field form.name placeholder="Nome Completo" class="form-control" %}
					</div>
				{% endif %}

				{% if form.email.errors %}
					<div style="margin: 15px 0;" class="form-group has-error">
						{% render_field form.email placeholder="E-mail" type="email" class="form-control" %}
						{% for error in form.email.errors %}
						<span id="helpBlock2" class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					<div style="margin: 15px 0;"class="form-group">
						{% render_field form.email placeholder="E-mail" class="form-control" %}
					</div>
				{% endif %}

				{% if form.password1.errors %}
					<div style="margin: 15px 0;" class="form-group has-error">
						{% render_field form.password1 placeholder="Digite a senha" type="password" class="form-control" %}
						{% for error in form.password1.errors %}
						<span id="helpBlock2" class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					<div style="margin: 15px 0;"class="form-group">
						{% render_field form.password1 placeholder="Digite a senha" type="password" class="form-control" %}
					</div>
				{% endif %}

				{% if form.password2.errors %}
					<div style="margin: 15px 0;" class="form-group has-error">
						{% render_field form.password2 placeholder="Redigite a senha" type="password" class="form-control" %}
						{% for error in form.password2.errors %}
						<span id="helpBlock2" class="help-block">{{ error }}</span>
						{% endfor %}
					</div>
				{% else %}
					<div style="margin: 15px 0;"class="form-group">
						{% render_field form.password2 placeholder="Redigite a senha" type="password" class="form-control" %}
					</div>
				{% endif %}

				<div class="form-group">
					<!-- Button -->
					<div class="col-md-offset-3 col-md-9">
						<button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i>Registrar</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
{% endblock content%}
